.hero-init {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   align-content: center;
   row-gap: 10px;
   height: 100vh;
   width: 95%;
   letter-spacing: 3px;
   position: relative;
}

.hero-init .title-container {
   display: flex;
   align-items: center;
   justify-content: center;
   flex-wrap: wrap;
}

.hero-init h1 {
   font-size: 4rem;
   font-weight: 700;
   color: var(--text-color);
   text-align: center;
   text-shadow: 3px 5px 10px #00000085;
}

.hero-init .my-passions{
   display: flex;
   flex-wrap: wrap;
   align-items: center;
   justify-content: center;
}

.hero-init ul.enlaces {
   display: flex;
   flex-wrap: wrap;
   align-items: center;
   justify-content: space-around;
   text-decoration: none;
   list-style: none;
   font-size: 1.5rem;
   width: 100%;
   max-width:  300px;
   padding: 0px;
}


