/*
bg-dark: #0D1321; text-contrast: #F0EBD8
rusian-blue: #1D2D44;  text-contrast: #F0EBD8
electric-blue: #3E5C76; text-contrast: #F0EBD8
shadow-blue: #748CAB; text-contrast-black: #0000
*/
/********* Custom Properties ***********/
:root {
   --background-color: #F0EBD8;
   --background-color-rgb: 240, 235, 216;
   --link-color: #046B99;
   --text-color: #1C304A;
   --text-color-rgb: 28, 48, 74;

   --light-blue-color: #748CAB;
   --medium-blue-color: #3E5C76;
   --dark-blue-color: #1D2D44;

   --text-contrast-primary-color: #F0EBD8;
   --text-contrast-secondary-color: #0000;


   --font: 'Montserrat', sans-serif;
   --reading-text-width: 900px;
   --max-width: 1200px;
   --header-height: 4rem;



   --umbrella-filter: invert(18%) sepia(6%) saturate(4462%) hue-rotate(175deg) brightness(90%) contrast(95%) ;
   --umbrella-splat-color: 255,255,255;

   
   --umbrella-filter2: invert(94%) sepia(16%) saturate(189%) hue-rotate(4deg) brightness(96%) contrast(97%) drop-shadow(2px 4px 6px black);
   --umbrella-filter-link: invert(23%) sepia(27%) saturate(7054%) hue-rotate(181deg) brightness(96%) contrast(97%) ;
   --umbrella-filter-link-tenue : invert(64%) sepia(12%) saturate(1273%) hue-rotate(149deg) brightness(89%) contrast(86%);
   --umbrella-filter-link-tenue-light: invert(95%) sepia(2%) saturate(6509%) hue-rotate(169deg) brightness(78%) contrast(94%);
}

body.dark-mode {
   --background-color: #1D2D44;
   --background-color-rgb: 41, 41, 41;
   --link-color: #00CFFF;
   /*color: #dcdcdc**/
   --text-color: #F0EBD8;
   --text-color-rgb: 240, 235, 216;

   /* --light-blue-color: #FDFCF3;
   --medium-blue-color: #f6f2e3;
   --dark-blue-color: #F0EBD8; */
   --light-blue-color: #FAF8EB;
   --medium-blue-color: #F0EBD8;
   --dark-blue-color: #CEC39D;
   
   --umbrella-filter: invert(94%) sepia(16%) saturate(189%) hue-rotate(4deg) brightness(96%) contrast(97%);
   --umbrella-splat-color: 28, 48, 74;
}