

/* DEMO-SPECIFIC STYLES */
.typewriter.passion-1 {

      width: 0;
   overflow: hidden;
   /* The typwriter cursor */
   white-space: nowrap;
   /* Keeps the content on a single line */
   margin: 0 auto;
   /* Gives that scrolling effect as the typing happens */
   letter-spacing: .15em;
   /* Adjust as needed */
   animation:typing 4s steps(20, end) forwards;
   animation-delay: 2s;
}

/* The typing effect */
@keyframes typing {
   0% {
      width: 0
   }

   20% {
width: 140px;
   }

      100% {
   
         width: 140px;
      }


}


.typewriter.passion-2 {
   width: 0;
   overflow: hidden;
   /* The typwriter cursor */
   white-space: nowrap;
   /* Keeps the content on a single line */
   margin: 0 auto;
   /* Gives that scrolling effect as the typing happens */
   letter-spacing: .15em;
   /* Adjust as needed */

   animation: typing-2 4s steps(20, end) forwards;

   animation-delay: 2s;
}

/* The typing effect */
@keyframes typing-2 {
      40% {
         width: 0px;
      }
   
      60% {
   
         width: 100px;
      }
   
            100% {width: 100px;
            }
}


.typewriter.passion-3 {
   width: 0;
   overflow: hidden;
   /* The typwriter cursor */
   white-space: nowrap;
   /* Keeps the content on a single line */
   margin: 0 auto;
   /* Gives that scrolling effect as the typing happens */
   letter-spacing: .15em;
   /* Adjust as needed */
   animation:
      typing-3 4s steps(25, end) forwards;

      animation-delay: 2.5s;
}

/* The typing effect */
@keyframes typing-3 {
   60% {
      width: 0
   }

   80% {
      width: 80px;
   }      100% {
   width: 80px;
         }

}


.typewriter.passion-4 {
   width: 0;
   overflow: hidden;
   /* Ensures the content is not revealed until the animation */
   border-right: .15em solid rgb(59, 54, 44);
   /* The typwriter cursor */
   white-space: nowrap;
   /* Keeps the content on a single line */
   margin: 0 auto;
   /* Gives that scrolling effect as the typing happens */
   letter-spacing: .15em;
   /* Adjust as needed */
   animation:
      typing-4 4s steps(25, end) forwards,
      blink-caret-4 .5s step-end infinite;

   animation-delay: 3s;
}

/* The typing effect */
@keyframes typing-4 {
  

   80% {
      width: 0px;
   }

   100% {
      width: 140px;
   }

}

@keyframes blink-caret-4 {

   from,
   to {
      border-color: transparent
   }

   50% {
      border-color: orange
   }
}